/*Start variables*/
:root{
    --main-color: #2a603d;
    --secondary-color: #298254;
    --third-color: #348d53;
    --fourth-color: #4ba668;
    --section-background: #F6F6F6;
}
/*End variables*/

/* start header */
body {
    background-image: url('../images/Mask_Group_19.png');
}

header .social-nav .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

header .social-nav .navbar-phone {
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}
@media(min-width:1200px){
    header .social-nav .navbar-phone {
        display: none;
    }
}
header .social-nav img{
    width: 20px;
    margin: 5px;
}
header .main-nav .navbar-brand {
    color: var(--main-color);
    font-weight: bold;
}
header .main-nav .navbar-phone {
    display: none;
}
@media(min-width:1200px){
    header .main-nav .navbar-phone {
        display: flex;
        align-items: center;
        color: var(--main-color);
        font-weight: bold;
        border: 1px solid var(--main-color);
        border-radius: 5px;
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;
    }
}
header .main-nav #navbarSupportedContent{
    border: 1px solid var(--main-color);
    border-radius: 5px;
    margin: 5px;
    justify-content: space-evenly;
}
@media(max-width:1200px){
    header .main-nav #navbarSupportedContent{
        text-align: center;
    }
    header .main-nav .search{
        justify-content: center;
    }
    header .main-nav .langs .nav-link{
        justify-content: center;
    }
    header .main-nav .sign-in .nav-link{
        justify-content: center;
    }
}
header .main-nav li{
    list-style: none;
}
header .main-nav li a{
    color: var(--main-color);
    font-weight: bold;
    font-size: 13px;
}

header .main-nav .post-ads{
    background-color: red;
    border-radius: 5px;
    margin: 5px;
}
header .main-nav .post-ads a{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 15px;
}
header .main-nav .search{
    background-color: var(--main-color);
    transform: skewX(-10deg);
    padding: 3px 15px 3px 0px;
    border-radius: 5px;
    margin: 5px;
}
header .main-nav .search i{ 
    color: #fff;
    padding: 10px;
}

header .main-nav input{
    background-color: transparent;
    padding: 5px;
    font-size: 13px;
}
header .main-nav .langs img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
header .main-nav .langs h3{
    font-size: 13px;
    font-weight: bold;
}
header .main-nav .sign-in img{
    width: 20px;
}
header .main-nav .sign-in h3{
    font-size: 13px;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(42,96,61,1 )' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: var(--main-color);
  } 

  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  .navbar-toggler {
    border-color: transparent;
}
/* end header */

/* start status */

.status {
    position: relative;
  }
.status .swiper {
    width: 100%;
    max-width: 1280px;
   /*  height: 75px; */
    margin-top: 40px;
  }
.status .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
  }


.status .swiper-slide .image {
    background-color: transparent;
    padding: 5px;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    position: relative;
}
.status .swiper-slide .image::before {
    content: "";
    position: absolute;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    border-radius: 50%;
    border-top: 6px solid var(--main-color);
    border-right: 6px solid var(--main-color);
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    left: 0px;
    top: -3px;
}
.status .swiper-slide img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 1px;
}
.swiper-button-next, 
.swiper-button-prev{
    top: 60%;
}
.swiper-button-next:after, 
.swiper-button-prev:after{
    font-size: 20px;
    color: #348d53;

}
.swiper-button-prev, 
.swiper-rtl 
.swiper-button-next{
    left: 1%;
    right: auto;
}
.swiper-button-next, 
.swiper-rtl 
.swiper-button-prev{
    right: 1%;
    left: auto;
}
@media (min-width: 1295px) {
    .swiper-button-prev, 
    .swiper-rtl 
    .swiper-button-next{
        left: 70px;
    }
        .swiper-button-next, 
        .swiper-rtl 
        .swiper-button-prev{
        right: 70px;
    }
}
.status .swiper-slide p {
    font-size: .7rem;
    margin-top: 1rem;
}

/* end status */