/*Start variables*/
:root{
    --main-color: #2a603d;
    --secondary-color: #298254;
    --third-color: #348d53;
    --fourth-color: #4ba668;
    --section-background: #F6F6F6;
}
/*End variables*/

/* start header */
body {
    background-image: url('../images/Mask_Group_19.png');
}

header .social-nav .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

header .social-nav .navbar-phone {
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}
@media(min-width:1200px){
    header .social-nav .navbar-phone {
        display: none;
    }
}
header .social-nav img{
    width: 20px;
    margin: 5px;
}
header .main-nav .navbar-brand {
    color: var(--main-color);
    font-weight: bold;
}
header .main-nav .navbar-phone {
    display: none;
}
@media(min-width:1200px){
    header .main-nav .navbar-phone {
        display: flex;
        align-items: center;
        color: var(--main-color);
        font-weight: bold;
        border: 1px solid var(--main-color);
        border-radius: 5px;
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;
    }
}
header .main-nav #navbarSupportedContent{
    border: 1px solid var(--main-color);
    border-radius: 5px;
    margin: 5px;
    justify-content: space-evenly;
}
@media(max-width:1200px){
    header .main-nav #navbarSupportedContent{
        text-align: center;
    }
    header .main-nav .search{
        justify-content: center;
    }
    header .main-nav .langs .nav-link{
        justify-content: center;
    }
    header .main-nav .sign-in .nav-link{
        justify-content: center;
    }
}
.nav-link:focus, .nav-link:hover{
    color: var(--fourth-color);
}
header .main-nav li{
    list-style: none;
}
header .main-nav li a{
    color: var(--main-color);
    font-weight: bold;
    font-size: 13px;
}

header .main-nav .post-ads{
    background-color: red;
    border-radius: 5px;
    margin: 5px;
}
header .main-nav .post-ads a{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 15px;
}
header .main-nav .search{
    background-color: var(--main-color);
    transform: skewX(-10deg);
    padding: 3px 15px 3px 0px;
    border-radius: 5px;
    margin: 5px;
}
header .main-nav .search i{ 
    color: #fff;
    padding: 10px;
}

header .main-nav input{
    background-color: transparent;
    padding: 5px;
    font-size: 13px;
}
header .main-nav .langs img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
header .main-nav .langs h3{
    font-size: 13px;
    font-weight: bold;
}
header .main-nav .sign-in img{
    width: 20px;
}
header .main-nav .sign-in h3{
    font-size: 13px;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(42,96,61,1 )' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: var(--main-color);
  } 

  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  .navbar-toggler {
    border-color: transparent;
}
/* end header */

/* start status */

.status {
    position: relative;
  }
.status .swiper {
    width: 100%;
    max-width: 1280px;
   /*  height: 75px; */
    margin-top: 40px;
  }
.status .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
  }


.status .swiper-slide .image {
    background-color: transparent;
    padding: 5px;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    position: relative;
}
.status .swiper-slide .image::before {
    content: "";
    position: absolute;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    border-radius: 50%;
    border-top: 6px solid var(--main-color);
    border-right: 6px solid var(--main-color);
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    left: 0px;
    top: -3px;
}
.status .swiper-slide img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 1px;
}
.status .swiper-button-next, 
.status .swiper-button-prev{
    top: 60%;
}
.status .swiper-button-next:after, 
.status .swiper-button-prev:after{
    font-size: 20px;
    color: #348d53;

}
.status .swiper-button-prev, 
.status .swiper-rtl 
.status .swiper-button-next{
    left: 1%;
    right: auto;
}
.status .swiper-button-next, 
.status .swiper-rtl 
.status .swiper-button-prev{
    right: 1%;
    left: auto;
}
@media (min-width: 1295px) {
    .status .swiper-button-prev, 
    .status .swiper-rtl 
    .status .swiper-button-next{
        left: 70px;
    }
        .status .swiper-button-next, 
        .status .swiper-rtl 
        .status .swiper-button-prev{
        right: 70px;
    }
}
.status .swiper-slide p {
    font-size: .7rem;
    margin-top: 1rem;
}

/* end status */
/* start slider */
.slider .slider-first,
.slider .slider-second{
    overflow: hidden;
}
.slider .swiper-container {
 width: 100%;
 position: relative;
}
.slider .swiper-slide {
 background-size: cover;
 background-position: 50%;
 min-height: 20vh;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.slider .swiper-slide img{
width:100%; 
padding:15px;
height: 200px;
}
.slider .swiper-pagination-bullet {
 background-color: transparent;
 border: 2px solid #bbbbbb;
 border-radius: 50%;
 width: 12px;
 height: 12px;
 opacity: 1;
}
.slider .swiper-pagination-bullet-active {
 background-color: #bbbbbb;
}
.slider .swiper-button-container {
 background-color: rgba(0, 0, 0, 0.25);
}
.slider .swiper-horizontal>.swiper-pagination-bullets, 
.slider .swiper-pagination-bullets.swiper-pagination-horizontal, 
.slider .swiper-pagination-custom, 
.slider .swiper-pagination-fraction {
bottom: -7px;
}
/* end slider */

/* start sections */
#sections .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sections .top .hr{
    height: 1px;
    background-color: var(--main-color);
}
#sections .top p{
    color: var(--main-color);
    font-weight: bold;
    font-size: 12px;
    margin: 0px;
}

.sections .section{
    background-color: #1c6742;
    max-width: 234px;
    width: 250px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sections {
    justify-content: center;
}
.sections .section.first{
    background-color: #1c6742;
}
.sections .section.second{
    background-color: #1b8053;
}
.sections .section.third{
    background-color: #2e9f67;
}
.sections .section.fourth{
    background-color: #69b084;
}
.sections .section .image{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
}
.sections .section .image::before{
    content: "";
    position: absolute;
    width: 55%;
    height: 82%;
    top: 5px;
    right: 20px;
    background-color: #225b3e;
    border-radius: 40px;
}
.sections .section .image img{ 
    width: 70px;
    z-index: 10;
}
.sections .section .title{
    width: 50%;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 8px;
}
/* end sections */

/* start invite */
.invite .image img{
    height: 100%;
    max-width: 100%;
    max-height: 400px;
}
.invite .title{
    text-transform: capitalize;
}
.invite .title p{
    font-size: 40px;
    font-weight: bold;
}
.invite .title h4{
    color: #2b6e4c;
    font-weight: bold;
    font-size: 2rem;
}
.invite .title h1{
    color: #46bb7e;
    font-weight: bold;
    font-size: 4rem;
}
/* end invite */
/* start video */
#video{
    background-color: #ecebeb;
}
.video .image img{
    height: 100%;
    max-width: 100%;
    max-height: 400px;
}
.video .title{
    text-transform: capitalize;
}
.video .title p{
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
}
.video .title h4{
    color: #2b6e4c;
    font-weight: bold;
    font-size: 4rem;
}
.video .title h1{
    color: #46bb7e;
    font-weight: bold;
    font-size: 2.5rem;
}
/* end video */